NEXT_PUBLIC_SUPABASE_URL=https://isiykgwvwggdqemguhhz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=https://cleparfum.com
NEXT_PUBLIC_ADMIN_URL=https://admin.cleparfum.com
NEXT_PUBLIC_API_URL=https://api.cleparfum.com
